/* Importe a fonte Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #393b39;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.header-title {

    text-align: center;
    letter-spacing: 2px;
    font-family: 'Pokemon Solid', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #fccf00;
    text-shadow:
        -2px -2px 0 #1d2c5e,
        
        -1px -1px 0 #3466af,
        1px -1px 0 #3466af,
        -1px 1px 0 #3466af,
        1px 1px 0 #3466af;
}


.separator {
    margin-top: 32px;
    padding-top: 32px;
    min-height: 80vh;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #393b39;
}

::-webkit-scrollbar-track {
    background-color: #6c757d;
}

[v-cloak] {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.pokemon-card {
    width: 240px;
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 2s ease;
    animation: type-gradient 2s ease-in-out infinite;
}

.pokemon-container {
    background-color: #e0e0e0;
}

.pokemon-card img {
    width: 160px;
    height: 160px;
}

.pokemon-name {
    font-weight: bold;
    margin: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    color: #161616;
    letter-spacing: 1px;
    font-family: 'Press Start 2P', sans-serif;
}

.desc-title{
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
}

@keyframes type-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#pad {
    background-size: 400% 400%;
    animation: type-gradient 2s ease-in-out infinite;
}

.fire { background: linear-gradient(-45deg, #ff4500, #ff6347, #ff7f50, #ff4500);}
.grass {  background: linear-gradient(-45deg, #3e8e41, #4eff21, #5cb85c);}
.water {background: linear-gradient(-45deg, #0d8eff, #0ec4d1, #57a7ec);}
.bug { background: linear-gradient(-45deg, #806c1e, #98741e, #b08a2e);}
.normal { background: linear-gradient(-45deg, #989898, #a9a9a9, #bcbcbc);}
.poison {background: linear-gradient(-45deg, #8a48b8, #540c97, #b370ff);color: #fff;}
.electric { background: linear-gradient(-45deg, #c8a620, #daa520, #ecb530);}
.ground { background: linear-gradient(-45deg, #553013, #6b2f1b, #7d3e23); color: #fff;}
.fairy { background: linear-gradient(-45deg, #b3055e, #c9056e, #de057e);}
.fighting {background: linear-gradient(-45deg, #e3003b, #ff0741, #ff2755);}
.ice {background: linear-gradient(-45deg, #98b9e1, #a9ccf1, #bae0ff);}
.rock {background: linear-gradient(-45deg, #8c4622, #a0522d, #b4603b);}
.ghost {background: linear-gradient(-45deg, #360b66, #4b0f80, #60209b);color: #fff;}
.dragon {background: linear-gradient(-45deg, #2e8b57, #3cb371, #48cc85);}
.dark {background: linear-gradient(-45deg, #292929, #333333, #3d3d3d);color: #fff;}
.steel {background: linear-gradient(-45deg, #494949, #555555, #616161);color: #fff;}
.flying {background: linear-gradient(-45deg, #00ada9, #12cbc4, #24e8df);}
.psychic { background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);}

.pokemon-card {
    width: 240px;
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.pokemon-name-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 4px 8px;
    margin: 10px;
}

.pokemon-name {
    font-weight: bold;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-inner.show-details {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}